body{
    background-image: url(../img/pexels-cottonbro-3944406.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}
.container-logo{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 500px 100px;
    justify-content: center;
    align-items: center;
}
.logotipo{
    align-items: center;
    margin-top: 100px;
    margin-left: 20px;
    background-size: cover;
}
.username{
    text-align: center;
    font-size: 3rem;
}
